
.input-style {
  width: 100%;
  padding: 0 1rem;  
  height: 3rem;   
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  transition: all 0.2s;
}

.input-style:focus {
  outline: 2px solid #6366f1;
  outline-offset: 2px;
}

.button-style {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  color: white;
  transition: background-color 0.2s;
}


.bg-indigo-500 {
  background-color: #6366f1;
}
.bg-indigo-500:hover {
  background-color: #4f46e5;
}

.bg-green-500 {
  background-color: #22c55e;
}
.bg-green-500:hover {
  background-color: #16a34a;
}


.disabled\:opacity-50:disabled {
  opacity: 0.5;
}